<section class="hero-container">
  <div class="hero-left">
    <div class="hero-title">
      <h1>Find a job that aligns with your interests and skills</h1>
      <p>Thousands of jobs in all the leading sector are waiting for you.</p>
    </div>
    <div class="hero-search">
      <div class="input-cont">
        <img src="/images/fi_search.png" alt="search" />
        <input
          [(ngModel)]="searchJobs"
          type="text"
          class="hero-input"
          placeholder="Job Title, Keyword..."
        />
      </div>
      <div class="location-input-cont">
        <img src="/images/fi_map-pin.png" alt="location" />
        <input
          [(ngModel)]="searchLocation"
          type="text"
          class="hero-location-input"
          placeholder="Location"
        />
      </div>
      <button (click)="searchForResults()" class="search-btn">Find Job</button>
    </div>
  </div>
  <div class="hero-right">
    <img src="/images/hero.png" alt="hero-image" />
  </div>
</section>
