<section class="main-jobs-container">
  <div class="main-jobs-title">
    <h2>Featured Jobs</h2>
    <p>Choose jobs from the top employers and apply for the same.</p>
  </div>
  <div class="jobs-list">
    <div class="job-cards">
      <ng-container *ngFor="let job of jobs">
        <app-main-job-card
          [title]="job.title"
          [jobType]="job.jobType"
          [salary]="job.salary"
          [companyLocation]="job.companyLocation"
          [applicants]="job.applicants"
          [link]="job.link"
          [company]="job.company"
        ></app-main-job-card>
      </ng-container>
    </div>
    <button routerLink="jobs" class="view-all-btn">View All</button>
  </div>
</section>
