.jobs-page-container {
  .jobs-search-cont {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
    padding: 0 20px;
    box-sizing: border-box;
    .jobs-search {
      margin-top: 50px;
      display: flex;
      width: fit-content;
      border-radius: 7px;
      background-color: white;
      border: 1px solid gray;
      border-radius: 9px;
      .input-cont {
        .hero-input {
          border-right: 1px solid gray;
        }
      }

      .input-cont,
      .location-input-cont {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding: 9px 0 9px 9px;

        img {
          margin-right: 10px;
        }
        input {
          border: none;
          max-width: 140px;
          &:focus {
            outline: none;
          }
        }
      }
      .search-btn {
        align-self: center;
        margin: 10px 10px 10px 0;
        width: 90px;
        height: 36px;
        background-color: #6300b3;
        color: white;
        border: none;
        border-radius: 7px;
        cursor: pointer;
      }
    }
  }
  .jobs-catalog {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    .jobs-filter {
      height: 100%;
      width: 25%;
      max-width: 300px;
      .top-content {
        .filter-title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 20px 0;
          h3 {
            font-size: 25px;
          }
          button {
            border: none;
            background-color: transparent;
            cursor: pointer;
            color: gray;
          }
        }
        .filter-details {
          padding: 20px;
          border-radius: 9px;
          // background-color: #f2f2f2;
          background-color: #f8f2fc;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          min-height: 80vh;
          .filter-item {
            // margin-bottom: 10px;
            width: 100%;
            .filter-header {
              background-color: transparent;
              // border: 1.5px solid rgb(198, 197, 197);
              border: 1.5px solid #6200b337;
              // border-radius: 9px;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 10px 5px;
              cursor: pointer;
              // .filter-header-title {
              // }
              .arrow {
                display: flex;
                align-items: center;
                justify-content: center;
                transform: rotate(90deg);
                transition: transform 0.3s ease;
              }
              .open {
                transform: rotate(-90deg);
              }
            }
            .options {
              // margin-top: 10px;
              padding: 0 5px;
              display: flex;
              align-items: flex-start;
              justify-content: center;
              width: 100%;
              flex-direction: column;
              max-height: 0;
              overflow: hidden;
              transition: max-height 0.5s ease;
              // border-left: 1.5px solid rgb(198, 197, 197);
              // border-right: 1.5px solid rgb(198, 197, 197);
              border-left: 1.5px solid #6200b337;
              border-right: 1.5px solid #6200b337;
              box-sizing: border-box;
              &.open {
                max-height: 300px;
                border-bottom: 1.5px solid #6200b337;
                // border-bottom: 1.5px solid rgb(198, 197, 197);
              }
              .option {
                padding: 3px 0;
              }
            }
          }
        }
      }
    }
    .jobs-list-cont {
      h3 {
        margin: 20px;
        font-size: 25px;
      }
      .jobs-list {
        max-height: 100vh;
        overflow-y: scroll;
        display: grid;
        grid-template-columns: auto auto;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .jobs-page-container {
    .jobs-catalog {
      flex-direction: column;
      .jobs-filter {
        max-width: none;
        margin-bottom: 20px;
        width: 100%;
        .top-content {
          width: 100%;
          padding: 0 30px;
          box-sizing: border-box;
          // .filter-title {
          // }
          .filter-details {
            min-height: auto;
            // flex-direction: row;
            width: 100%;
            box-sizing: border-box;
            align-items: center;
            justify-content: space-between;
            .filter-item {
              position: relative;
              margin-bottom: 0;
              .filter-header {
                border-radius: 0;
              }
              .options {
                // position: absolute;
                top: 20px;
                background-color: #ffffff;
                box-sizing: border-box;
                // border-bottom-left-radius: 7px;
                // border-bottom-right-radius: 7px;
                margin-top: 0;
                // border-left: 1.5px solid rgb(198, 197, 197);
                // border-right: 1.5px solid rgb(198, 197, 197);
                border-left: 1.5px solid #6200b337;
                border-right: 1.5px solid #6200b337;
                .option {
                  width: 100%;
                  padding: 5px 2px;

                  // border-bottom: 1.5px solid rgb(198, 197, 197);
                  border-bottom: 1.5px solid #6200b337;
                }
              }
            }
          }
        }
      }
      .jobs-list-cont {
        width: 100%;
        .jobs-search-cont {
          align-items: center;
          justify-content: center;
        }
        h3 {
          text-align: center;
          margin-bottom: 40px;
        }
        .jobs-list {
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .jobs-page-container {
    .jobs-catalog {
      flex-direction: column;
      .jobs-filter {
        max-width: none;
        margin-bottom: 20px;
        width: 100%;
        .top-content {
          width: 100%;
          padding: 0 30px;
          box-sizing: border-box;
          // .filter-title {
          // }
          .filter-details {
            min-height: auto;
            // flex-direction: row;
            width: 100%;
            box-sizing: border-box;
            align-items: center;
            justify-content: space-between;
            .filter-item {
              position: relative;
              margin-bottom: 0;
              .filter-header {
                border-radius: 0;
                .filter-header-title {
                  font-size: 25px;
                }
              }
              .options {
                // position: absolute;
                top: 20px;
                background-color: #ffffff;
                box-sizing: border-box;
                // border-bottom-left-radius: 7px;
                // border-bottom-right-radius: 7px;
                margin-top: 0;
                border-left: 1.5px solid rgb(198, 197, 197);
                border-right: 1.5px solid rgb(198, 197, 197);

                .option {
                  width: 100%;
                  padding: 5px 2px;
                  font-size: 25px;
                  border-bottom: 1.5px solid rgb(198, 197, 197);
                  input[type='checkbox'] {
                    width: 20px;
                    height: 20px;
                  }
                }
              }
            }
          }
        }
      }
      .jobs-list-cont {
        width: 100%;
        h3 {
          text-align: center;
          margin-bottom: 40px;
          font-size: 30px;
        }
        .jobs-list {
          align-items: center;
          justify-content: center;
          grid-template-columns: auto;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .jobs-page-container {
    .jobs-search-cont {
      justify-content: center;
      padding: 0 10px;
      box-sizing: border-box;
      .jobs-search {
        background-color: transparent;
        flex-direction: column;
        width: 100%;
        margin: 30px 0;
        .input-cont {
          background-color: white;
          border-radius: 7px;
          border-bottom: 1px solid gray;
          padding: 10px 0;
          .hero-input {
            border: none;
            width: 100%;
            max-width: none;
            font-size: 24px;
          }
        }
        .location-input-cont {
          background-color: white;
          border-radius: 7px;
          padding: 10px 0;
          .hero-location-input {
            font-size: 24px;
            width: 100%;
            max-width: none;
          }
        }
        .search-btn {
          width: 100%;
          font-size: 30px;
          font-weight: 600;
          height: fit-content;
          margin: 0;
          padding: 7px 0;
        }
      }
    }
  }
}
