.top-companies-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 40px 0;
  padding: 40px;

  .top-companies-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .line {
      flex: 1;
      height: 2px;
      background-color: gray;
    }

    h2 {
      margin: 0 10px;
      width: 300px;
      text-align: center;
      color: gray;
    }
  }

  .top-companies {
    margin-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    img {
      margin: 20px;
    }
  }
}
