<div class="job-card-container">
  <div class="job-card-top">
    <h4>{{ cutText(title, 30) }}</h4>
    <p>
      <span>{{ jobType }}</span>
      Salary: {{ salary }} EUR
    </p>
    <div class="employer-details">
      <img src="/images/google-logo.png" alt="employer-logo" />
      <div class="employer">
        <h5>{{ company }}</h5>
        <p>{{ companyLocation }}</p>
      </div>
    </div>
    <div class="applicants">
      <div class="applicant-profiles">
        <img src="/images/Ellipse6.png" alt="profile" />
        <img src="/images/Ellipse7.png" alt="profile" />
        <img src="/images/Ellipse8.png" alt="profile" />
      </div>
      <p class="applicant-count">{{ applicants?.length }} applicants</p>
    </div>
    <div class="card-btns">
      <button class="details">View Details</button>
      <button class="apply">Apply Now</button>
    </div>
  </div>
</div>
