.job-card-container {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 324px;
  background-color: #f8f2fc;
  padding: 20px;
  box-sizing: border-box;
  margin: 20px;
  .job-card-top {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    h4 {
      margin-bottom: 7px;
    }
    p {
      margin-bottom: 40px;
      color: gray;
      line-height: 30px;
      span {
        background-color: rgb(229, 255, 234);
        padding: 5px;
        color: green;
        font-weight: 700;
      }
    }
    .employer-details {
      width: 100%;
      display: flex;
      flex-direction: row;
      img {
        width: 37px;
        height: 37px;
        margin-right: 10px;
      }
      //   .employer {
      //     h5 {
      //     }
      //     p {
      //     }
      //   }
    }
    .applicants {
      width: 100%;
      display: flex;
      flex-direction: row;
      .applicant-profiles {
        position: relative;
        img {
          &:nth-child(2) {
            position: absolute;
            top: 0;
            left: 12px;
            z-index: 10;
          }
          &:nth-child(3) {
            position: absolute;
            top: 0;
            left: 24px;
            z-index: 11;
          }
        }
      }
      .applicant-count {
        margin-left: 30px;
      }
    }
    .card-btns {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      width: 100%;
      .details {
        margin-right: 20px;
        width: 110px;
        height: 46px;
        color: #6300b3;
        border: 1px solid #6300b3;
        background-color: transparent;
        border-radius: 7px;
        cursor: pointer;
      }
      .apply {
        width: 110px;
        height: 46px;
        background-color: #6300b3;
        color: white;
        border: none;
        border-radius: 7px;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .job-card-container {
    width: 300px;
    height: 320px;
  }
}
