.register-form-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 50px;
  box-sizing: border-box;
  .container {
    width: 100%;
    max-width: 800px;
    h2 {
      font-size: 45px;
      width: 100%;
      text-align: start;
    }
    p {
      color: gray;
      width: 100%;
      text-align: start;
      margin-bottom: 20px;
    }
    .form-container {
      width: 100%;
      min-height: 600px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      box-shadow:
        0 10px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      padding: 20px;
      box-sizing: border-box;
      border-radius: 9px;
      margin-top: 40px;
      .name-input-cont,
      .email-input-cont,
      .password-input-cont,
      .phone-input-cont {
        width: 100%;
        margin-top: 30px;
        position: relative;
        .error {
          // position: absolute;
          top: 25px;
          left: 0;
          li {
            list-style-type: none;
            color: rgb(236, 63, 63);
            font-size: 14px;
          }
        }

        label {
          width: 100%;
          font-size: 25px;
          span {
            color: rgb(236, 63, 63);
          }
          input {
            width: 100%;
            padding: 15px 30px;
            font-size: 20px;
            margin-top: 20px;
            box-sizing: border-box;
          }
        }
      }
      .register-btn {
        width: 100%;
        margin-top: 20px;
        background-color: #6300b3;
        color: white;
        padding: 20px 0;
        border-radius: 7px;
        font-size: 20px;
        font-weight: 700;
        border: 1px solid transparent;
        cursor: pointer;
        transition: background-color 0.1s ease-in-out;
        &:hover {
          background-color: white;
          color: #6300b3;
          border: 1px solid #6300b3;
        }
      }
      .other-login {
        .other-login-text {
          height: 1px;
          background-color: gray;
          margin: 55px 0;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          h3 {
            color: gray;
            font-size: 22px;
            background-color: white;
            width: fit-content;
            margin: 0 auto;
            position: absolute;
            top: -13px;
            padding: 0 10px;
          }
        }
        .other-login-ways {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          flex-wrap: wrap;
          margin-bottom: 30px;
        }
        .no-account {
          width: 100%;
          p {
            color: gray;
            text-align: center;
            font-size: 20px;
          }
        }
      }
    }
  }
}
