.profile-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .profile-content {
    width: 80%;
    max-width: 700px;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding: 20px 30px;
    box-sizing: border-box;
    .top-content {
      padding: 20px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      .image-name {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        img {
          margin-right: 20px;
        }
        // h2 {
        // }
      }
      .profession-details {
        input {
          border: none;
          text-align: end;
          &:focus {
            outline: none;
          }
        }
      }
    }
    .bottom-content {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      flex-wrap: wrap;
      // display: grid;
      // grid-template-columns: auto auto auto;
      // align-items: center;
      // justify-content: space-evenly;
      .prior-info {
        border-bottom: 1px solid #ccc;
      }

      .prior-info,
      .sec-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        padding: 10px;
        padding-bottom: 40px;
        .more-detail {
          width: fit-content;
          align-self: flex-start;
          margin: 5px;
          label {
            margin-top: 20px;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            max-width: 183px;

            input {
              margin-top: 10px;
              padding: 7px 10px;
              border: 1px solid gray;
              &:focus {
                outline: none;
              }
            }
            .input-cont {
              border: 1px solid gray;
              padding: 2px;
              max-width: 183px;
              margin-top: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: row;
              input {
                border: none;
                margin-top: 0;
                width: 100%;
                padding: 5px 10px;
                &:focus {
                  outline: none;
                }
              }
              .add-btn {
                margin: 0;
                padding: 5px;
                background-color: #6300b3;
                color: white;
                border: none;
                border-radius: 7px;
                cursor: pointer;
              }
            }
            .add-more-btn {
              margin-top: 10px;
              padding: 7px 5px;
              background-color: #6300b3;
              color: white;
              border: none;
              border-radius: 7px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
