<div class="job-card-container">
  <div class="job-card-top">
    <h4>{{ cutText(title, 23) }}</h4>
    <span>{{ jobType }}</span>
    <p>Salary: {{ salary }} {{ currency }}</p>
    <div class="employer-details">
      <img src="/images/google-logo.png" alt="employer-logo" />
      <div class="employer">
        <h5>{{ company }}</h5>
        <p>{{ companyLocation }}</p>
      </div>
    </div>
    <div class="card-btns">
      <a [routerLink]="['/vacancy', id]">
        <button class="details">View Details</button>
      </a>
      <button class="apply">Apply Now</button>
    </div>
  </div>
</div>
