.job-card-container {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 284px;
  background-color: #f8f2fc;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 20px 20px 20px;
  border-radius: 9px;
  .job-card-top {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    h4 {
      margin-bottom: 7px;
      font-size: 15px;
    }
    span {
      background-color: rgb(229, 255, 234);
      padding: 5px;
      color: green;
      font-weight: 700;
      width: fit-content;
    }
    p {
      margin-bottom: 20px;
      color: gray;
      line-height: 30px;
    }
    .employer-details {
      width: 100%;
      display: flex;
      flex-direction: row;
      img {
        width: 27px;
        height: 27px;
        margin-right: 10px;
      }
      .employer {
        h5 {
          font-size: 14px;
        }
        p {
          line-height: normal;
          font-size: 12px;
        }
      }
    }
    .applicants {
      width: 100%;
      display: flex;
      flex-direction: row;
      .applicant-profiles {
        position: relative;
        img {
          &:nth-child(2) {
            position: absolute;
            top: 0;
            left: 12px;
            z-index: 10;
          }
          &:nth-child(3) {
            position: absolute;
            top: 0;
            left: 24px;
            z-index: 11;
          }
        }
      }
      .applicant-count {
        margin-left: 30px;
        margin-bottom: 10px;
      }
    }
    .card-btns {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      width: 100%;
      box-sizing: border-box;
      .details {
        margin-right: 10px;
        min-width: 90px;
        height: 44px;
        color: #6300b3;
        border: 1px solid #6300b3;
        background-color: transparent;
        border-radius: 7px;
        cursor: pointer;
      }
      .apply {
        min-width: 90px;
        height: 44px;
        background-color: #6300b3;
        color: white;
        border: none;
        border-radius: 7px;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .job-card-container {
    width: 300px;
    height: 320px;
  }
}
